[Unit]
Description=Open Borderless HTTP Server
After=graphical-session.target

[Service]
Type=simple
Environment=WAYLAND_DISPLAY=wayland-1
ExecStart=/usr/bin/open-borderless-wrapper
Restart=always
RestartSec=10
StartLimitIntervalSec=300
StartLimitBurst=20

[Install]
WantedBy=default.target
